@model FluentApi.ViewModels.CreateRecordVM
@{
    ViewData["Title"] = "CreateUser";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-2">
            <div class="card fw-bold">
                <div class="card-body">
                    <form method="post" asp-action="CreateUser">

                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input type="text" asp-for="UserName" class="form-control" placeholder="Enter UserName" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="Birthdate"></label>
                            <input type="datetime" asp-for="Birthdate" class="form-control" placeholder="Enter Birthdate" />
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="PassportNumber"></label>
                            <input type="text" asp-for="PassportNumber" class="form-control" placeholder="Enter Passport Number" />
                            <span asp-validation-for="PassportNumber" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="IsValid"></label>
                            <input type="text" asp-for="IsValid" class="form-control" placeholder="Enter Validity" />
                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="CityName"></label>
                            <input type="text" asp-for="CityName" class="form-control" placeholder="Enter City" />
                            <span asp-validation-for="CityName" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="SectionName"></label>
                            <input type="text" asp-for="SectionName" class="form-control" placeholder="Enter Section Name" />
                            <span asp-validation-for="SectionName" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="RoadNumber"></label>
                            <input type="text" asp-for="RoadNumber" class="form-control" placeholder="Enter Road Number" />
                            <span asp-validation-for="RoadNumber" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="ZipCode"></label>
                            <input type="text" asp-for="ZipCode" class="form-control" placeholder="Enter ZipCode" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-success float-right" />
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>