@model FluentApi.Models.User
@{
    ViewData["Title"] = "DeleteUser";
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to Delete User Section</h1>
</div>

<div class="fw-bold text-center text-danger py-3">
    <h2>User Name: @TempData["UserName"]</h2>
    <h2>Are you sure to delete this User?</h2>
</div>


<form asp-action="DeleteUser" class="text-center py-3">

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Back to List</a>

</form>