
@{
    ViewData["Title"] = "AjaxTypedForm";
}

<h1>AjaxTypedForm</h1>

<form id="myForm" method="post" asp-action="AjaxTypedForm" asp-controller="Home">

    <table>
        <tr>
            <td>Enter First Name:</td>
            <td><input type="text" id="firstName" /></td>
        </tr>

        <tr>
            <td>Enter Last Name:</td>
            <td><input type="text" id="lastName" /></td>
        </tr>

        <tr>
            <td> <input type="button" value="Submit Form" onclick="AjaxForm()" /></td>
        </tr>

    </table>

</form>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>
