@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center fw-bold p-3">
    <h1>Different Way of From Submission</h1>
</div>

<div class="container col-8 offset-2">
    <div class="shadow-lg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Weakly Typed Form</h5>
                <p class="card-text"></p>
                <a asp-action="WeaklyTypedForm" asp-controller="Home" class="btn btn-primary">Check</a>
            </div>
        </div>
    </div>
    <br />

    <div class="shadow-lg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Storngly Typed Form</h5>
                <p class="card-text"></p>
                <a asp-action="StornglyTypedForm" asp-controller="Home" class="btn btn-primary">Check</a>
            </div>
        </div>
    </div>
    <br />

    <div class="shadow-lg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Ajax Form</h5>
                <p class="card-text"></p>
                <a asp-action="AjaxTypedForm" asp-controller="Home" class="btn btn-primary">Check</a>
            </div>
        </div>
    </div>
    <br />

</div>