@model FormSubmission.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student with JavaScript</h2>

<div id="form-container">
    <form id="studentForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Enter Name" required/>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Enter Email" required/>
        </div>

        <br />
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div id="response-message" class="mt-3"></div>



@* fetch with then  *@

<script type="text/javascript">
    
    document.getElementById("studentForm").addEventListener("submit", function (event) {
        event.preventDefault();
        
        // const fd = new FormData(studentForm);
        // console.log(fd.get('name'));
        // debugger;
        

        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        //var name = $("#name").val();
        //formData.append("name", $("#name").val());

        // if (name = '' && email == '') {
        //     $('#response-message').html('<div class="alert alert-success">All Fields are required! </div>');
        //     return;
        // }

        const formData = {
            Name: name,
            Email: email
        };

        fetch("/Home/JavaScriptForm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json" 
            },
            body: JSON.stringify(formData) 
        })
        .then(response => response.json()) 
        .then(data => {

            if (data.success) {
                $('#response-message').html('<div class="alert alert-success">' + data.message + '</div>');
                    //window.location.href = '/Students/Index';
                setTimeout(() => {
                    window.location.href = '/Students/Index';
                }, 2000);
            }

            else {
                    $('#response-message').html('<div class="alert alert-danger">' + data.message + '</div>');
                    
            }

        })
        .catch(error => {         
            $('#response-message').html('<div class="alert alert-danger">An error occurred: ' + error + '</div>');
        });
    });
</script>


@* fetch with async-await *@

@* <script type="text/javascript">
    document.getElementById("studentForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;

        const formData = {
            Name: name,
            Email: email
        };

        try 
        {
            const response = await fetch("/Home/JavaScriptForm", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            });

            const data = await response.json();

            if (data.success) {
                document.getElementById("response-message").innerHTML =
                    `<div class="alert alert-success">${data.message}</div>`;
                    window.location.href = '@Url.Action("StudentList", "Home")';
            } 
            else {
                document.getElementById("response-message").innerHTML =
                    `<div class="alert alert-danger">${data.message}</div>`;
            }
        } 
        
        catch (error) {
            document.getElementById("response-message").innerHTML =
                `<div class="alert alert-danger">An error occurred: ${error.message}</div>`;
        }
    });
</script> *@


@* window.location.href = '@Url.Action("StudentList", "Home")';
 *@