@model FormSubmission.Models.Student
@{
    ViewData["Title"] = "StornglyTypedForm";
}


<h1>StornglyTypedForm</h1>

@using (Html.BeginForm("StornglyTypedForm", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter Name: </td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
            
        </tr>
        <tr>
            <td>Enter Email: </td>
            <td>@Html.TextBoxFor(m => m.Email)</td>
        </tr>
        <tr>
            
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
}