@{
    ViewData["Title"] = "WeaklyTypedForm";
}

@if(@ViewBag.txtId != null)
{
    <div>

        <b>ID: @ViewBag.txtId </b><br />
        <b>Name: @ViewBag.txtName </b><br />
        <b>Email: @ViewBag.txtEmail</b>

    </div>
    
}


<h1>WeaklyTypedForm</h1>

<div class="container">
    <form action="WeaklyTypedForm" method="post">
        <table>
            <tr>
                <td>Enter Id: </td>
                <td><input type="text" name="txtId" /></td>
            </tr>
            <tr>
                <td>Enter Name: </td>
                <td><input type="text" name="txtName" /></td>
            </tr>
            <tr>
                <td>Enter Email: </td>
                <td><input type="email" name="txtEmail" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>

    </form>
</div>

