@model MvcMovieOneToMany.Models.Genre
@{
    ViewData["Title"] = "CreateGenre";
}
<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to Create Genre  Section</h1>
</div>

<div>
    <div class="row">
        <div class="col-6 offset-2">
            <form method="post" asp-action="CreateGenre">
                <div class="form-group">
                    <label asp-for="GenreName"></label>
                    <input type="text" asp-for="GenreName" class="form-control" placeholder="Enter Genre Name" />
                    <span asp-validation-for="GenreName" class="text-danger"></span>
                </div>
                
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>

            </form>

        </div>

    </div>
</div>