@model MvcMovieOneToMany.Models.Genre
@{
    ViewData["Title"] = "EditGenre";
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to Edit Genre Section</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditGenre">

            <div class="form-group">
                <label asp-for="GenreId" class="form-label"></label>
                <input asp-for="GenreId"  class="form-control" readonly />
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="GenreName" class="form-label"></label>
                <input asp-for="GenreName" class="form-control"/>
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
             <input type="submit" value="Save" class="btn btn-primary" />
             <a asp-action="GenreList" class="btn btn-primary">Back to List</a>
            </div>
        </form>

    </div>

</div>