@model MvcMovieOneToMany.Models.ViewModel.CreateMovieViewModel
@{
    ViewData["Title"] = "CreateMovie";
}

<h1>CreateMovie</h1>

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to Create Genre  Section</h1>
</div>

<div>
    <div class="row fw-bold">
        <div class="col-6 offset-2">
            <form method="post" asp-action="CreateMovie">
                
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input type="text" asp-for="Title" class="form-control" placeholder="Enter Movie Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <br />


                <div class="form-group">
                    <label asp-for="GenreId" class="control-label"></label>
                    <select asp-for="GenreId" class="form-control" asp-items="Model.Genres"></select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>

            </form>

        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>