@model MvcMovieOneToMany.Models.Movie
@{
    ViewData["Title"] = "DeleteMovie";
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1>Welcome to Delete Genre Section</h1>
</div>

<div class="fw-bold text-center text-danger py-3">
    <h2>Movie Name: @TempData["MovieName"]</h2>
    <h2>Are you sure to delete this Movie?</h2>
</div>


<form asp-action="DeleteMovie" class="text-center py-3">

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="MovieList" class="btn btn-primary">Back to List</a>

</form>