@model BankApplication.Models.Entity.Branch
@{
    ViewData["Title"] = "CreateMultiple";
}

<h1 class="text-center">Create Multiple Branch</h1>
<hr />
<p>
    <a id="addRow" class="btn btn-info float-end m-2">Add-Record</a>
</p>

<form id="branchForm" action="/Branch/CreateMultiple" method="post">
    <div id="spanRow">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Branch Name</th>
                    <th>Branch Logo</th>
                    <th>Bank</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="branchTableBody">
                <tr>
                    <td><input type="text" name="Branches[0].BranchName" class="form-control" /></td>
                    <td><input type="file" name="Branches[0].BranchLogo" class="form-control" /></td>
                    <td>
                        <select name="Branches[0].BankId" class="form-control" asp-items="ViewBag.BankId">
                            <option>--Select--</option>
                        </select>
                    </td>
                    <td><input type="checkbox" name="Branches[0].IsActive" class="form-check-input" /></td>
                    <td><a class="removeRow btn btn-danger">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="submit" id="saveAll" class="btn btn-success m-2">Save All Record</button>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var rowIndex = 1;

        $('#addRow').click(function () {
            var newRow = `<tr>
                <td><input type="text" name="Branches[${rowIndex}].BranchName" class="form-control" /></td>
                <td><input type="file" name="Branches[${rowIndex}].BranchLogo" class="form-control" /></td>
                <td>
                    <select name="Branches[${rowIndex}].BankId" class="form-control" asp-items="ViewBag.BankId">
                        <option>--Select--</option>
                    </select>
                </td>
                <td><input type="checkbox" name="Branches[${rowIndex}].IsActive" class="form-check-input" /></td>
                <td><a class="removeRow btn btn-danger">Remove</a></td>
            </tr>`;
            $('#branchTableBody').append(newRow);
            rowIndex++;
        });

        $(document).on('click', '.removeRow', function () {
            $(this).closest('tr').remove();
        });

        $('#branchForm').submit(function (event) {
            event.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert('Record Saved Successfully');
                },
                error: function (error) {
                    alert('Error Occurred');
                }
            });
        });
    });
</script>