@model MvcBank.Models.ViewModels.EditBranchVM
@{
    ViewData["Title"] = "EditBranch";
}

<div class="fw-bold text-center bg-primary bg-opacity-25 py-3">
    <h1> Edit Branch Section</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBranch">

            <div class="form-group">
                <label asp-for="BranchId" class="form-label"></label>
                <input asp-for="BranchId" class="form-control" readonly />
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="BranchName" class="form-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <select asp-for="BankId" class="form-control" asp-items="Model.Banks"></select>
                <span asp-validation-for="BankId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="BranchList" class="btn btn-primary">Back to List</a>
            </div>
        </form>

    </div>

</div>
