@model IEnumerable<StudentCrudWithViewModel.Models.Address>
@{
    ViewData["Title"] = "AddressList";
}
<div class="text-center fw-bold bg-secondary bg-opacity-25 py-3">
    <h2 class="text-center">All Address Record</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">

            <table class="table table-bordered text-center table-hover table-striped">
                <thead>
                    <tr>
                        <th>Address Id</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AddressId</td>
                            <td>@item.City</td>
                            <td>@item.Region</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="" asp-controller="" asp-route-id="">Edit</a>
                                <a class="btn btn-sm btn-info" asp-action="" asp-controller="" asp-route-id="">Details</a>
                                <a class="btn btn-sm btn-danger" asp-action="" asp-controller="" asp-route-id="">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>


            </table>

        </div>

    </div>

</div>