@model StudentCrudWithViewModel.Models.Student
@{
    ViewData["Title"] = "Create Student";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center text-primary">Add Student</h2>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="CreateStudentList">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Enter Student Name"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Age"></label>
                            <input type="text" asp-for="Age" class="form-control" placeholder="Enter Student Age" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Class"></label>
                            <input type="text" asp-for="Class" class="form-control" placeholder="Enter Student Class" />
                        </div>
                       
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-outline-success float-right"/>
                        </div>


                    </form>



                </div>

            </div>
        </div>
    </div>

</div>