@model IEnumerable<StudentCrudWithViewModel.Models.Student>

@{
    ViewData["Title"] = "StudentList";
}
<div class="text-center fw-bold bg-secondary bg-opacity-25 py-3">
    <h2 class="text-center">All Student Record</h2>
</div>

<div class="py-2 fw-bold">
    <a class="btn btn-sm btn-secondary" asp-controller="Home" asp-action="CreateStudentList">Add New Student</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            
            <table class="table table-bordered text-center table-hover table-striped">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Full Name</th>
                        <th>Age</th>
                        <th>Class</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                       <tr>
                            <td>@item.StudentId</td>
                            <td>@item.Name</td>
                            <td>@item.Age</td>
                            <td>@item.Class</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="" asp-controller="" asp-route-id="">Edit</a>
                                <a class="btn btn-sm btn-info" asp-action="" asp-controller="" asp-route-id="">Details</a>
                                <a class="btn btn-sm btn-danger" asp-action="" asp-controller="" asp-route-id="">Delete</a>
                            </td>
                    </tr>  
                    }
                   
                </tbody>


            </table>

        </div>

    </div>

</div>