
<html>
    <head>

    </head>
    <body style="text-align:center">
    <h1>Welcome to the Temp data testing</h1>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark text-sm" asp-area="" asp-controller="Temp" asp-action="HomeFirst">HomeFirst</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark text-sm" asp-area="" asp-controller="Temp" asp-action="HomeSecond">HomeSecond</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark text-sm" asp-area="" asp-controller="Temp" asp-action="HomeThired">HomeThired</a>
        </li>
    </ul>
    </body>
</html>
