
@model BankApplication.Models.ViewModels.CreateBankWithBranchVM

@{
    ViewData["Title"] = "Create Bank with Branches";
}

<h2 class="fw-bold text-center">Create Bank With Branch</h2>
<br />

<h3>Fill-up Bank Information</h3>
<hr />

<form id="bank-branch-form" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="BankName">Bank Name</label>
        <input asp-for="BankName" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        <label asp-for="BankLogo">Bank Logo</label>
        <input asp-for="BankName" type="file" name="BankLogo" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        <label asp-for="BankAddress">Address</label>
        <input asp-for="BankAddress" class="form-control" />
    </div>
    <br />

    <h3>Fill-up Branch Information</h3>
    <hr />

    <div class="form-group">
        <label asp-for="BranchName">Branch Name</label>
        <input asp-for="BranchName" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        <label asp-for="BranchLogo">Branch Logo</label>
        <input asp-for="BranchLogo" type="file" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        <label asp-for="IsActive">Status</label>
        <select asp-for="IsActive" class="form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>
    <br />

    <button type="button" id="submit-form" class="btn btn-success">Create</button>
    <a class="btn btn-success float-end" asp-action="Index">Back to List</a>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submit-form').click(function () {
                 const formData = new FormData($('#bank-branch-form')[0]);

                   $.ajax({
                    url: '@Url.Action("CreateBankWithBranch", "Bank")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            window.location.href = '@Url.Action("Index", "Bank")';
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('An error occurred: ' + error);
                    }
            });
        });
        });
</script>

