@model OBlog.Models.ViewModels.AddTagRequest

<div class="bg-secondary bg-opacity-10 py-2">

    <div class="container">
        <h1 class="text-center"> Add-Tag Admin </h1>
    </div>
</div>

<div class="container py-5">
    <form asp-action="AddTag" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"> </label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Tag Name"/>
        </div>

        <div class="mb-3">
            <label asp-for="DisplayName" class="form-label"> </label>
            <input type="text" class="form-control" asp-for="DisplayName"  placeholder="Enter Tag DisplayName" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-outline-success ">Submit</button>
        </div>

    </form>

</div>