@model  List<OBlog.Models.Domain.Tag>
@{

}
<div class="bg-secondary bg-opacity-10 py-2">

    <div class="container">
        <h1 class="text-center"> Tag List </h1>
    </div>
</div>

<div class="container" py-5>
    @if(Model != null && Model.Any())
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.DisplayName</td>
                        <td>
                            <a asp-area="" asp-controller="AdminTag" asp-action="" class="btn btn-primary">Edit</a>
                            <a asp-area="" asp-controller="AdminTag" asp-action="" class="btn btn-info">Update</a>
                            <a asp-area="" asp-controller="AdminTag" asp-action="" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    }
    else
    {
        <p>No Tags Found!</p>
    }

</div>