@model DataAccessLayer.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Class">Class</label>
        <input class="form-control" asp-for="Class" />
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<a class="btn btn-secondary" asp-action="Index">Back</a>
